spring:
  webflux:
    multipart:
      max-in-memory-size: 100MB   # 超过这个大小的内容将写入磁盘临时文件
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  thymeleaf:
    cache: false  # 开发环境禁用环境，便于调试
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
  datasource:
    url: jdbc:postgresql://${DB_IP:localhost}:${DB_PORT:5432}/group
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
#        dialect: org.hibernate.dialect.PostgreSQLDialect  # 确保方言设置正确

sequence:
  mode: memory # memory 或 redis

file:
  upload:
    chunk-temp-path: /tmp/chunk-storage   # 绝对路径
    base-path:  uploads                    # 相对路径
server:
  port: 8080
  address: 0.0.0.0

tcp:
  port: 8088

logging:
  level:
    org.springframework.web: DEBUG
#    reactor.netty: DEBUG
    root: INFO
jwt:
  private.key: classpath:app.key
  public.key: classpath:app.pub
